<!-- Barra de la aplicación -->
<app-barra></app-barra>

<!-- Detalles del episodio (mostrados si hay datos disponibles) -->
<div class="episode-details" *ngIf="episodeNoCha">
  <h2>Episode name: {{ episodeNoCha.name }}</h2>
  <p><strong>Air Date:</strong> {{ episodeNoCha.air_date }}</p>
  <p><strong>Episode Number:</strong> {{ episodeNoCha.episode }}</p>
  <p><strong>Created:</strong> {{ episodeNoCha.created }}</p>
</div>

<!-- Sección de título para la lista de personajes -->
<div class="title-section">
  <div class="section-title">Characters</div>
</div>

<!-- Contenedor flex para mostrar las tarjetas de personajes en línea -->
<div class="characters-container">
  <!-- Itera sobre los personajes y aplica el filtro si hay un término de búsqueda -->
  <mat-card *ngFor="let character of paginatedCharacters" class="character-card">
    <img [src]="character.image" alt="{{ character.name }}" class="character-image">
    <h2 class="title-card"><a [href]="'/character/' + character.id">{{ character.name }}</a></h2>
    <p><strong>Status:</strong> {{ character.status }}</p>
    <p><strong>Species:</strong> {{ character.species }}</p>
    <p><strong>Gender:</strong> {{ character.gender }}</p>
    <p><strong>Origin:</strong> {{ character.origin.name }}</p>
    <p><strong>Location:</strong> {{ character.location.name }}</p>
  </mat-card>
</div>

<!-- Contenedor adicional para el paginador -->
<div class="characters-container">
  <!-- Agrega el paginador -->
  <mat-paginator [length]="characters.length" [pageSize]="pageSize" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 15]" (page)="onPageChange($event)"></mat-paginator>
</div>
